In [1]:
d1 = {
    "Nombre": "jhojan",
    "Edad": 18,
    "Documento": 1034286461
}

print(d1)

{'Nombre': 'jhojan', 'Edad': 18, 'Documento': 1034286461}

In [3]:

d2 = dict([
    ("Nombre", "JHOJAN"),
    ("Edad", 18),
    ("Documento", 1034296461)
])

print(d2)

{'Nombre': 'JHOJAN', 'Edad': 18, 'Documento': 1034296461}

In [7]:


d3 = dict(Nombre='Sara', Edad=27, Documento=1003882)

print(d3)

{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}

In [8]:
d1['Direccion'] = "Calle 123"
print(d1)

{'Nombre': 'jhojan', 'Edad': 18, 'Documento': 1034286461, 'Direccion': 'Calle 123'}

In [13]:
# Imprime los key del diccionario
for x in d1:
    print(x)

Nombre
Edad
Documento
Direccion

In [14]:

for x in d1:
    print(d1[x])

jhojan
18
1034286461
Calle 123

In [18]:
for x, y in d1.items():
  print (x, y)

Nombre jhojan
Edad 18
Documento 1034286461
Direccion Calle 123

In [19]:
# Diccionario anidado
anidado1 = {"a": 1, "b": 2}
anidado2 = {"a": 10, "b": 20}

d = {
    "anidado1": anidado1,
    "anidado2": anidado2
}

print(d)

print(d["anidado1"]["a"])
print(d["anidado2"]["b"])

{'anidado1': {'a': 1, 'b': 2}, 'anidado2': {'a': 10, 'b': 20}}
1
20

In [20]:
# Diccionario
d = {'a': 1, 'b': 2}
d.clear()
print(d)   # {}

{}

In [21]:
d = {'a': 1, 'b': 2}
print(d.get('a'))  # #1
print(d.get('z', 'No encontrado'))  # #No encontrado

1
No encontrado

In [22]:
d = {'a': 1, 'b': 2}
it = d.items()

print(it)              # dict_items([('a', 1), ('b', 2)])
print(list(it))        # [('a', 1), ('b', 2)]
print(list(it)[0][0])  # a

dict_items([('a', 1), ('b', 2)])
[('a', 1), ('b', 2)]
a

In [ ]:
d = {'a': 1, 'b': 2}
d.pop('c', -1)
print(d)  # {'a': 1, 'b': 2}

In [ ]:


d1 = {'a': 1, 'b': 2}
d2 = {'a': 0, 'd': 400}
d1.update(d2)
print(d1)  # {'a': 0, 'b': 2, 'd': 400}