In [2]:
mi_tupla = (1, 2, 3, "hola", True)

In [3]:
t = (1, 1, 2, 3, 3, 3)
print(t)

(1, 1, 2, 3, 3, 3)

In [4]:
coordenadas = (40.7128, -74.0060)  # latitud y longitud (Nueva York)
coordenadas[0] = 41.0  # Esto daría error porque es inmutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupla1 = (1, 2, 3)              # Tupla con enteros
tupla2 = ("a", "b", "c")        # Tupla con cadenas de texto
tupla3 = (1, "hola", 3.5)       # Tupla con tipos mixtos
tupla4 = ()                     # Tupla vacía
tupla5 = (5,)                   # Tupla con un solo elemento

In [6]:
 tupla = ("Python", 2025, True)
print(tupla[0])
print(tupla[1])
print(tupla[-1])

Python
2025
True

In [7]:
colores = ("rojo", "verde", "azul")
for color in colores:
    print(color)

rojo
verde
azul

In [8]:
t = ((1, 2), (3, 4), (5, 6)) # duplas

print(t[0])     # (1, 2)
print(t[1])     # (3, 4)
print(t[2])     # (5, 6)

(1, 2)
(3, 4)
(5, 6)

In [9]:
t = ("santafe",) * 3
print(t)

('Python', 'Python', 'Python')

In [10]:
persona = ("jhojan", 18, "Colombia")

nombre, edad, pais = persona

print(nombre)  # jhojan
print(edad)    # 18
print(pais)    # Colombia

jhojan
18
Colombia

In [ ]:
t = (5, 1, 7, 3)

print(len(t))
print(max(t))
print(min(t))
print(sum(t))
print(sorted(t))

In [11]:
coordenadas = {}

punto = (10, 20)

coordenadas[punto] = "Ubicación A"

print(coordenadas)

{(10, 20): 'Ubicación A'}