In [1]:
# Creación de un set con la función set()
s = set([5, 4, 6, 8, 8, 1])
print(s)          # {1, 4, 5, 6, 8}
print(type(s))    # <class 'set'>

{1, 4, 5, 6, 8}
<class 'set'>

In [2]:
# Los sets no permiten acceder ni modificar elementos por índice
s = set([5, 6, 7, 8])
try:
    s[0] = 3
except TypeError as e:
    print("Error:", e)

Error: 'set' object does not support item assignment

In [13]:
# Lista normal
lista = ["Perú", "Argentina"]

try:
    s = set(["México", "España", lista])
except TypeError as e:
    print("Error:", e)

Error: unhashable type: 'list'

In [5]:
# lista de países
paises = ["México", "España"]
paises.append("Perú")
paises.append("Argentina")

print(paises)
# Output: ['México', 'España', 'Perú', 'Argentina']

['México', 'España', 'Perú', 'Argentina']

In [7]:
 s = set([1,2,3,4])
 print(len(s)) #4

4

In [9]:
# Definición de conjuntos
s1 = set([1, 2, 3])
s2 = set([3, 4, 5])


print( s1 | s2)   # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [10]:
# Creamos un set con varios elementos
s = set([1, 2, 3, 4, 5])
s.remove(3)

print(s)  # {1, 2, 4, 5}

{1, 2, 4, 5}

In [14]:
# Creamos un set
s = set([1, 2])
s.discard(3)

print(s)  # {1, 2}

{1, 2}

In [15]:
# Eliminar
s = set([1, 2])


s.clear()

print(s)  # set()

set()